.menu {
  height: 45px;
  width: 100;
  display: flex;
  background: white;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

.logo {
  color: black;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold; 
}

.list {
  list-style: none;
}

.list li {
  padding: 30px 20px;
}

.box {
  display: flex;
  margin-top: 60px;
}

.table {
  padding: 30px 20px;
}